<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8">
    <title>系统登录</title>
    <link rel="stylesheet" th:href="@{css/style.css}"/>
</head>
<body class="login_bg">
    <section class="loginBox">
        <header class="loginHeader">
            <h1>账单管理系统</h1>
        </header>
        <section class="loginCont">
<!--            <p th:if="${not #strings.isEmpty(loginError)}"  th:text="${loginError}" style="color:red;"></p>-->
            <form class="loginForm" action="/login" method="post">
                <div class="inputbox">
                    <label for="user" >Username</label>
                    <input id="user" type="text" name="username"  required/>
                </div>
                <div class="inputbox">
                    <label for="mima" >Password</label>
                    <input id="mima" type="password" name="password"  required/>
                </div>
				<div class="subBtn">
                    <input type="checkbox" name="remember"> 记住我
                </div>
				<br/>
                <div class="subBtn">
                    <input type="submit" />
                    <input type="reset"  />
                </div>
            </form>
        </section>
    </section>
</body>
</html>