<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/public.css"/>
    <link rel="stylesheet" href="../css/style.css"/>
    <style>
        .box{
            padding: 20px;
            display: flex;
            justify-content: space-around;
        }
        li{
            line-height: 25px;
        }
    </style>
</head>
<body>

    <div th:replace="main/public :: #publicHeader"></div>

     <h2>test</h2>


</body>
</html>